<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fall2018.csc2017.game_center">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slidingtiles.TileGameActivity" />
        <activity android:name=".pawnrace.PRGameActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GameSelectionActivity" />
        <activity android:name=".slidingtiles.TileGameMenuActivity" />
        <activity android:name=".slidingtiles.TileSettingsActivity" />
        <activity android:name=".slidingtiles.TileLoadSaveGameActivity" />
        <activity android:name=".slidingtiles.TileScoreboardActivity" />
        <activity android:name=".game3072.GameActivity3072" />
        <activity android:name=".game3072.ScoreboardActivity3072" />
        <activity android:name=".pawnrace.PRGameMenuActivity" />
        <activity android:name=".pawnrace.PRScoreboardActivity" />
        <activity android:name=".pawnrace.PRLoadSaveGameActivity" />
        <activity android:name=".pawnrace.PRSettingsActivity" />
    </application>

</manifest>